body {
	background-image: url('../../styles/background.jpg');
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  }
	
	#title{
	font-size: 1.625rem;
	line-height: 4.6875rem;
	color: #fff;
	background-color: #333;
	padding: 0.625rem;
	border-radius: 0.3125rem;
	box-shadow: 0 0.125rem 0.3125rem rgba(255, 255, 255, 0.3);
	}

	.items{
		display:block;
		margin-left: auto;
		margin-right: auto;
	}
	
	.menu-object{
	display: block;
	margin: 1.25rem auto;
	width: 18.75rem;
	height: 4.6875rem;
	font-size: 1rem;
	margin-top: 0.625rem;
	color: #333;
	background-color: #fff;
	border-radius: 0.3125rem;
	box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.3);
	transition: all 0.3s ease-in-out;
	}
	
	.menu-object:hover{
	font-size: 1.375rem;
	width: 20.313rem;
	height: 5.313rem;
	background-color: #ccc;
	box-shadow: none;
	}
	
	.menu-object:active{
	font-size: 1.125rem;
	width: 17.188rem;
	height: 4.375rem;
	background-color: #ddd;
	box-shadow: none;
	}

	.container {
		display: grid;
		grid-template-columns: repeat(1, 5fr);
		grid-auto-rows: 4.6875rem;
		justify-content: center;
		align-items: center;
	  }
  
  



